/* Variables declaration */
:host {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #999;
    --bg-color: #f7f7fc;
    --btn-bg-color: #7952b3;
    --error-bg-color: #ffe0e2;
    --error-text-color: #ff5361;

    --text-spacing: 20px;
    --box-spacing: 30px;
}
/* Global CSS properties start */
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-color);
}
/* Global CSS properties end */

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    padding: 30px;
    background-color: var(--white-color);
}
.form-box .title{
    font-size: 50px;
    font-weight: 700;
    color: var(--black-color);
}
.form-box p:not(form .text p) {
    font-size: 10px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
form input {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
    background: inherit;
    color: var(--black-color);
    border: 1px solid var(--text-color);
}
form input::placeholder {
    color: var(--text-color);
    font-size: 15px;
}

form button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px 25px;
    color: var(--white-color);
    background-color: var(--btn-bg-color);
    cursor: pointer;
}
form .text p {
    font-size: 13px;
    color: var(--black-color);
}
form .text p a {
    text-decoration: underline;
    font-size: 13px;
    color: var(--btn-bg-color);
}

/* ================= MESSAGE BOX CSS SECTION ================ */
.alert-msg {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.alert-msg .alert {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alert-msg .alert.error-msg {
    color: var(--error-text-color);
    background-color: var(--error-bg-color);
}
.alert-msg .alert.error-msg i {
    font-size: 19px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* ================= Responsive design ==================  */
@media screen and (max-width: 500px) {
    .container .form-box,
    .alert-msg {
        width: 100%;
    }
}