header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #efefef;
}
.logo img {
    width: 60px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#menu {
    display: none;
}
.navlinks li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    font-size: 15px;
}
.navlinks li a {
    font-size: 15px;
    text-decoration: none;
    color: #777;
    transition: all 0.3s ease;
}
.navlinks li a:hover:not(.login-btn) {
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #efefef;
}
.navlinks li .login-btn {
   padding: 10px 25px;
   background: #777;
   color: #fff;
}

@media screen and (max-width: 750px) {
    .menu {
        flex-direction: column;
    }
    .logo {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
    }
    .logo #menu {
        display: block;
    }
    .logo #menu i {
        font-size: 25px;
    }
    .navlinks li {
        width: 100%;
        margin: 15px 0;
        display: block;
        text-align: center;
    }
    .navlinks.open {
        display: block;
    }
    .navlinks {
        display: none;
    }
}