.small-container {
    margin-top: 100px;
}
.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sub-title{
    margin: 50px 70px 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #888;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 3%;
}
.exclusives div{
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 10px;
}
.exclusives div h4{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.exclusives div p{
    font-size: 15px;
    text-wrap: balance;
}

.link-1 {
    margin-top: 100px;
}

.info {
    margin: 50px 0;
    padding: 0 70px;
    text-align: center;
}
.info ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 3%;
}
.info ul li {
    list-style: none;
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 10px;
}
.info ul li:hover {
    background: #ddd;
}
.info ul li div {
    text-align: center;
}
.info ul li div a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 930px){
    .title {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }
    .sub-title {
        font-size: 20px;
        text-align: center;
    }
}