<app-header></app-header>
<div class="small-container">
    <div>
        <h1 class="title">informations et procedures pratiques</h1>
        <h2 class="sub-title">pièces à fournir pour légalisation de documents au MINREX</h2>
        <div class="exclusives" *ngIf="procedures && procedures.length > 0">
            <div *ngFor="let procedure of procedures">
                <h4>{{ procedure.name }}</h4>
                <p>{{ procedure.description }}</p>
            </div>
        </div>
    </div>

    <div class="link-1">
        <h1 class="title">Renseignements pour un deplacement inter-urbain</h1>
        <div class="info">
            <ul>
                <li>
                    Horaires arrivées et départs des vols aéroports Yaounde et Douala
                </li>
                <li>
                    Horaires arrivées et départs des trains gares Yde, Dla, Ndre, Belabo Dla, Bafoussam, Bamenda, Bertoua, Ngaoundere, Garoua. Des agences
                </li>
                <li>
                    Horaires et réservations des agences de voyages de transport inter urbain Yde
                </li>
                <li>
                    Horaires des vols arrivés et départ des aéroports Yaoundé et Douala
                </li>
                <li>
                    Horaires départ et arrivée des trains voyageurs des gares Yaoundé et Douala Vaccinations obligatoires au Cameroun
                </li>
                <li>
                    Météo des villes Yaoundé et Douala
                </li>
                <li>
                    Mairies Arrondissements de Yaoundé et Douala lieu et coordonnées
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>