<div class="container">
    <div class="presentation">
        <img [src]="logo">
        <h1>Devenez Partenaire<br>avec Windows237</h1>
        <h3>Remplissez le formulaire du CV ci-après</h3>
    </div>
    <div class="cv-form">
        <form class="form">
    
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>nom du cabinet</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Responsable de la structure</span>
            </label> 

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>siège social</span>
            </label>
                    
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>email du cabinet</span>
            </label> 
                
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>coordonnées téléphonique(s)</span>
            </label>
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>spécialité</span>
            </label>

            <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Code postal</span>
                </label>
        
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Ville</span>
                </label>
            </div>
            <label>
                <textarea required="" placeholder="" name="" class="input01" rows="3"></textarea>
                <span>Description de la structure</span>
            </label>

            
            <button type="submit" class="fancy" href="#">
              <span class="top-key"></span>
              <span class="text">Envoyer <i class='bx bx-paper-plane'></i></span>
              <span class="bottom-key-1"></span>
              <span class="bottom-key-2"></span>
            </button>
        </form>
    </div>
</div>