
<div class="small-container">
    <div class="header">
        <h1>Partenaires de Digital Direct Assistance</h1>
        <p>
            Juristes, financiers, économistes, commerciaux, ingénieurs, techniciens,
            <br>intermédiaires dans tous les domaines et de tout âge
        </p>
    </div>

    <div class="content">
        <h1 class="title">Partenariats et Modalités</h1>
        <div class="row">
            <div class="card">
                <div class="card-header">
                  <img src="../../../assets/images/people.png">
                </div>
                <div class="info">
                  <p class="title">Personne Physique</p>
                  <p></p>
                </div>
                <div class="footer">
                  <button type="button" class="action">Démarrer </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                  <img src="../../../assets/images/Humaaans.png">
                </div>
                <div class="info">
                  <p class="title">Personne morale</p>
                  <p></p>
                </div>
                <div class="footer">
                  <button type="button" class="action">Démarrer </button>
                </div>
            </div>
        </div>
    </div>
</div>
