<app-header></app-header>
<div class="small-container">
    <div class="header">
        <h1>Partenaires de Digital Direct Assistance</h1>
        <p>
            Juristes, financiers, économistes, commerciaux, ingénieurs, techniciens,
            <br>intermédiaires dans tous les domaines et de tout âge
        </p>
    </div>

    <div class="content">
        <h1 class="title">Partenariats et Modalités</h1>
        <div class="row">
            <div class="left-col">
                <div class="card">
                    <div class="card-img">
                        <img [src]="consultant">
                    </div>
                    <div class="card-info">
                        <h1>Consultant</h1>
                        <p>
                            Devenez consultant juniors et seniors et travaillez en indépendants, sur diverses missions.
                            <br>Consultez nos diverses missions quotidiennes. Courses et missions administratives et privées.
                            <br>Courses de messagerie, livraison diverses 
                        </p>
                        <button>Devenir consultant</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img [src]="office">
                    </div>
                    <div class="card-info">
                        <h1>Cabinet</h1>
                        <p>
                            Devenez consultant juniors et seniors et travaillez en indépendants, sur diverses missions.
                            <br>Consultez nos diverses missions quotidiennes. Courses et missions administratives et privées.
                            <br>Courses de messagerie, livraison diverses 
                        </p>
                        <button>Cabinet Partenaire</button>
                    </div>
                </div>
            </div>

            <div class="right-col">
                <h1>Modalité d'agrément / inscription</h1>
                <div class="list">
                    <h3>Consultant</h3>
                    <ul>
                        <li>Remplir le formulaire de demande et d'inscription</li>
                        <li>C.V</li>
                        <li>CNI</li>
                        <li>Présenter une caution personnelle(parrain), morale ou financière</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>