<div class="small-container">
    <nav class="sidebar">
        <header>
            <div class="img-text">
                <span class="image">
                    <img [src]="logo" [title]="logoName">
                </span>
    
                <div class="text header-text">
                    <span class="name">{{ logoName }}</span>
                    <span class="profession">Entreprise</span>
                </div>
            </div>
    
            <i class='material-icons'></i>
        </header>
    
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="search-box">
                        <a href="#">
                            <i class='material-icons'>search</i>
                            <input type="text" placeholder="Search...">
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='material-icons'>dashboard</i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='material-icons'></i>
                            <span class="text nav-text">Transactions</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='material-icons'>people</i>
                            <span class="text nav-text">Utilisateurs</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='material-icons'></i>
                            <span class="text nav-text">Services</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a [routerLink]="['/addLink']">
                            <i class='material-icons'>links</i>
                            <span class="text nav-text">Liens</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='material-icons'>archive</i>
                            <span class="text nav-text">Documents</span>
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='material-icons'></i>
                        <span class="text nav-text">Déconnexion</span>
                    </a>
                </li>
                
                <!--
                <li class="mode">
                    <div class="moon-sun">
                        <i class='material-icons'>light</i>
                        <i class='material-icons'>sun</i>
                    </div>
                    <span class="mode-text text">Thème Sombre</span>
    
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                -->
            </div>
        </div>
    </nav>
    
    <section class="home">
        <div class="text">Dashboard</div>
        
    </section>
</div>