.small-container {
    margin-top: 10%; 
    padding: 0 70px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header .logo span {
    font-size: 45px;
    font-weight: bold;
}
.header .button a {
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    --black-color: #000;
    color: var(--black-color);
}

table {
    width: 100%;
    margin-bottom: 100px;
    border-collapse: collapse;
}
th {
    text-align: center;
    padding: 8px;
    font-weight: normal;
}
td {
    padding: 10px 5px;
    text-align: center;
}
table thead tr th {
    text-transform: uppercase;
    color: #777;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #777;
}
table tbody tr td .product {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
table tbody tr td .product img {
    width: 180px;
    height: auto;
    margin-right: 10px;
}

td input {
    width: 60px;
    padding: 5px 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #777;
}


.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    background: #eee;
    box-shadow:  0px 0px 5px rgba(234, 233, 233, 0.2);
}
.total ul {
    list-style: none;
}
.total .col-1,
.total .col-2 {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}
.total .col-1 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.total .col-1 .input_field {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.total .col-1 .input_field #checkbox {
    width: 15px;
}
.total .col-1 .input_field p {
    font-size: 13px;
    font-weight: bold;
}
.total .col-1 .input_field .text p {
    font-size: 13px;
    font-weight: bold;
    color: #777;
}
.total .col-2 ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.total .col-2 ul li p {
    font-size: 13px;
    font-weight: 600;
    color: #777;
}

.total .col-2 .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background: orange;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}
.total-price table {
    border-top: 3px solid #ff5361;
    width: 100%;
    max-width: 400px;
}

.payBtn {
    border: 1px solid #04c404;
    border-radius: 30px;
    outline: none;
    text-transform: capitalize;
    font-size: 18px;
    color: #04c404;
    padding: 10px 40px;
    background: inherit;
    cursor: pointer;
    transition: all 0.5s ease;
}
.payBtn.stripe {
    background: #390571;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    border: none;
    text-decoration: none;
}
.payBtn.dohone {
    background: orange;
    color: #fff;
    font-weight: 500;
    border: none;
    text-decoration: none;
}