@import url(../../../../node_modules/boxicons/css/boxicons.min.css);
.container{
    width: 100%;
    padding: 10%;
    height: auto;
}

.contact_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px 5%;
}
.contact_box .left-col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.contact_box .left-col form {
    border: 1px solid #ddd;
    border-top: 6px solid #6b05a7;
    border-radius: 10px;
    max-width: 400px;
    aspect-ratio: 3/4;
    padding: 30px 20px;
}
.contact_box .left-col form .input-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
}
.contact_box .left-col form .input-box.username {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.contact_box .left-col form .input-box label {
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
}
.contact_box .left-col form .input-box label span{
    color: red;
}
.contact_box .left-col form .input-box input,
.contact_box .left-col form .input-box select {
    height: 30px;
}
.contact_box .left-col form .input-box input,
.contact_box .left-col form .input-box select,
.contact_box .left-col form .input-box textarea {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 20px;
}

.contact_box .left-col form .button button {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background: #6b05a7;
    cursor: pointer;
}

.contact_box .left-col .details {
    width: 500px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    padding: 30px;
}
.contact_box .left-col .details .text .subtitle {
    text-transform: uppercase;
    color: #6b05a7;
    font-size: 15px;
    margin-bottom: 10px;
}
.contact_box .left-col .details .text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.contact_box .left-col .details .text p {
    font-size: 15px;
    color: #777;
}
.contact_box .left-col .details ul {
    list-style: none;
    width: 100%;
}
.contact_box .left-col .details ul li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.contact_box .right-col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 5%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15);
}
.contact_box .right-col .link {
    text-align: center;
}
.contact_box .right-col .link .link-icon .bxs-map {
    font-size: 35px;
    color: blue;
}
.contact_box .right-col .link .link-icon .bxl-gmail {
    font-size: 35px;
    color: red;
}
.contact_box .right-col .link .link-icon .bxl-whatsapp {
    font-size: 35px;
    color: green;
}
.contact_box .right-col .link .link-text h5 {
    font-weight: bold;
    margin-bottom: 10px;
}
.contact_box .right-col .link .link-text span {
    font-size: 15px;
    color: #777;
}