@import url(../../../../node_modules/boxicons/css/boxicons.min.css);
.container{
    padding: 0 10%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
}

.col-2 .link {
    text-align: center;
    margin-top: 30px;
}
.col-2 .link ul {
    list-style: none;
}
.col-2 .link ul li {
    display: inline-block;
    margin-right: 20px;
}
.col-2 .link ul li a i{
    font-size: 40px;
}
.col-2 .link ul li a .bxl-gmail{
    color: red;
}
.col-2 .link ul li a .bxl-whatsapp{
    color: #25D366;
}

.contact-form .title{
    z-index: 1;
    margin-bottom: 15%;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
.contact input{
    width: 100%;
}
form .message{
    position: relative;
}
form .message textarea{
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
    width: 0;
}
.message textarea:focus{
    padding-top: 14px;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 20px;
    outline: none;
    background: #555;
    color: #fff;
}
form .btn:focus{
    outline: none;
}