<app-header></app-header>
<div class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="">
            </div>
            <div class="col-2">
                <div class="form-container contact-form">
                    <div class="title">
                        <h2>Contactez Nous</h2>
                    </div>
                    <form>
                        <input type="text" name="" placeholder="nom et prénom">
                        <input type="email" name="" placeholder="Adresse Mail">
                        <input type="text" name="" placeholder="téléphone">
                        <div class="message">
                            <textarea name="message" placeholder="message"></textarea>
                        </div>
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>