<app-header></app-header>
<div class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="">
            </div>
            <div class="col-2">
                <div class="form-container contact-form">
                    <div class="title">
                        <h2>Envoyer nous un message</h2>
                    </div>
                    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">
                        <input type="text" name="username" placeholder="nom et prénom" ngModel>
                        <input type="email" name="email" placeholder="Adresse Mail" ngModel>
                        <input type="text" name="phone" placeholder="téléphone" ngModel>
                        <div class="message">
                            <textarea name="message" placeholder="message" ngModel></textarea>
                        </div>
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
                <div style="text-align: center;" *ngIf="isLoading">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            </div>
            <div class="col-2">
                <div class="text" style="text-align: center;">
                    Ou contactez nous par
                </div>
                <div class="link">
                    <ul>
                        <li><a href="mailto:windows.237.01@gmail.com" target="blank"><i class='bx bxl-gmail'></i></a></li>
                        <li><a href="https://wa.me/691943330" target="blank"><i class='bx bxl-whatsapp'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>