<app-header></app-header>
<main>
    <div class="row-1">
        <h1 class="title">Veuillez remplir vos informations</h1>
    </div>
    <div class="row-2">
        <div class="left-col">
            <form #form="ngForm" id="form" (ngSubmit)="saveService(form.value)">
                <div class="input-box username">
                    <div class="field">
                        <label for="username">Nom</label>
                        <input type="text" name="nom" id="username" ngModel>
                    </div>
                    <div class="field">
                        <label for="username">Prénom</label>
                        <input type="text" name="prenom" id="username" ngModel>
                    </div>
                </div>
                <div class="input-box username">
                    <div class="field">
                        <label>Numéro et type de service</label>
                        <div class="date">
                            <input type="text" name="rubriqueId" placeholder="{{ product.Id }}" ngModel>
                        </div>
                    </div>
                    <div class="field">
                        <label for="username">Service Sélectionné</label>
                        <input type="text" name="service" placeholder="{{ productId.name }}" ngModel>
                    </div>
                </div>
                <div class="input-box localisation">
                    <div class="field">
                        <div class="box">
                            <label for="coordonnees">Coordonnées précise de l'administration, du service, du responsable à contacter</label>
                            <input type="text" name="coordonnees" id="coordonnees" placeholder="coordonnées" ngModel>
                        </div>
                    </div>
                    <div class="field">
                        <div class="box">
                            <label for="description">Description détaillée du service sollicité</label>
                            <textarea rows="5" name="description" id="description" ngModel></textarea>
                        </div>
                    </div>
                    <!-- <div class="field">
                        <div class="box">
                            <label for="description">Veuillez préciser tout autre document numérique susceptible de nous aider</label>
                            <input type="file" name="file" placeholder="document" ngModel/>
                        </div>
                    </div> -->
                </div>
                <div class="buttons">
                    <button type="submit" class="btn-next">Enregistrer le service</button>
                    <button type="submit" class="btn-next" *ngIf="isRegister" [routerLink]="['/cart']" (click)="addToCart(productId)">Ajouter au panier</button>
                </div>
            </form>
        </div>

        <div class="right-col">
            <button class="back-btn" [routerLink]="['/list']">back</button>
            <div class="note">
                <h4>N.B:</h4>
                <ul>
                    <li>- Nous pouvons vous contacter  pour toutes informations et
                        <br>précisions complémentaires et nécessaires pour la réalisation de votre demande.
                    </li>
                    <li>- Expédition des plis et colis à vos frais : service de transport Yango,
                        <br>agence de transport inter-urbain, DHL, EMS, UPS, autres à préciser
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>