.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(454deg, #000, transparent),url(../../../assets/images/backgrounds/background1.jpg);
    background-position: center;
    background-size: cover;
}
.form {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}
.container .title{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    color: #fff;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: linear-gradient(135deg, #4799fd, #030388);
}
.container form .input-box span {
    color: #fff;
}
.container form .user-details,
.container form .location-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box,
form .location-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details,
.location-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input,
.location-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.location-details .input-box input:focus,
.location-details .input-box input:valid{
    border-color: #fff;
}

form .button{
    height: 45px;
    margin: 45px;
}
form .button input:not(.contact-btn){
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #4799fd, #030388);
}
form .button input:not(.contact-btn):hover{
    background: linear-gradient(-135deg, #4799fd, #030388);
}
form p{
    text-align: center;
    font-size: 15px;
    color: #fff;
}
form p span{
    color: #4799fd;
    cursor: pointer;
}
form p span:hover{
    text-decoration: underline;
}