<app-header></app-header>
<main>
    <div class="row-1">
        <h1 class="title">Veuillez remplir vos informations</h1>
    </div>
    <div class="row-2">
        <div class="left-col">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                <div class="input-box username">
                    <div class="field">
                        <label for="first-name">Nom</label>
                        <input type="text" id="first-name" formControlName="firstName">
                    </div>
                    <div class="field">
                        <label for="last-name">Prénom</label>
                        <input type="text" id="last-name" formControlName="lastName">
                    </div>
                </div>
                <div class="input-box username">
                    <div class="field">
                        <label for="type">Nature du service</label>
                        <input type="text" id="type" placeholder="{{ product.name}}" formControlName="type" required>
                    </div>
                    <div class="field">
                        <label for="location">Lieu du service au Cameroun: </label>
                        <input type="text" id="location" formControlName="location">
                    </div>
                </div>
                <div class="input-box localisation">
                    <div class="field">
                        <div class="box">
                            <label for="contact-details">Coordonnées complète des personnes, famille ou projets à contacter ou à suivre</label>
                            <input type="text" id="contact-details" formControlName="contactDetails">
                        </div>
                    </div>
                    <div class="field">
                        <div class="box">
                            <label for="description">Description exacte du service sollicité</label>
                            <textarea rows="5" id="description" formControlName="description"></textarea>
                        </div>
                    </div>
                    <!-- <div class="field">
                        <div class="box">
                            <label for="description">Veuillez préciser tout autre document numérique susceptible de nous aider</label>
                            <input type="file" name="file" placeholder="document" ngModel/>
                        </div>
                    </div> -->
                </div>
                <div class="buttons">
                    <button type="submit" [disabled]="!serviceForm.valid" class="btn-next">Enregistrer le service</button>
                    <button type="submit" *ngIf="!isRegister" class="btn-next" [routerLink]="['/cart']" (click)="addToCart(productId)">Ajouter au panier</button>
                </div>
            </form>
        </div>

        <div class="right-col">
            <button class="back-btn" [routerLink]="['/list']">back</button>
            <div class="note">
                <h4>N.B:</h4>
                <ul>
                    <li>- Nous pouvons vous contacter  pour toutes informations et
                        <br>précisions complémentaires et nécessaires pour la réalisation de votre demande.
                    </li>
                    <li>- Expédition des plis et colis à vos frais : service de transport Yango,
                        <br>agence de transport inter-urbain, DHL, EMS, UPS, autres à préciser
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>