<app-header></app-header>
<main>
    <h2 class="title">Annonces Maison et terrains à vendre :<br>Cameroun et France</h2>
    <span class="counter">{{ numOffer }} annonces</span>
    <div class="row">
        <div class="col-1">
            <div class="houses">
                <div class="section house"><span>Maisons à vendre</span></div>
                <div class="card" *ngFor="let house of Houses">
                    <div class="card-img">
                        <!-- <img [src]="house.image"> -->
                    </div>
                    <div class="card-info" (click)="showDetails(house.id)">
                        <div class="details">
                            <p class="price">{{ house.price }}</p>
                            <p class="product-name">{{ house.characteristic }}</p>
                            <p class="product-details">{{ house.place }}</p>
                        </div>
                        <div class="time">
                            <p class="day">{{ house.date }}</p>
                            <p>Voir l'annonce <i class='bx bx-right-arrow-alt'></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lands">
                <div class="section land"><span>Terrains à vendre</span></div>
                <div class="card" *ngFor="let land of Lands">
                    <div class="card-img">
                        <img src="../../../assets/images/house_img/terrain-vendre.jpg" alt="terrain">
                    </div>
                    <div class="card-info" (click)="showDetails(land.id)">
                        <div class="details">
                            <p class="price">{{ land.price }}</p>
                            <p class="product-name">{{ land.characteristic }}</p>
                            <p class="product-details">{{ land.place }}</p>
                        </div>
                        <div class="time">
                            <p class="day">{{ land.date }}</p>
                            <p>Voir l'annonce <i class='bx bx-right-arrow-alt'></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="banner">
                <p>Vous souhaitez mettre en vente votre bien ?</p>
                <div class="option">
                    <h4>que voulez-vous poster ?</h4>
                    <div class="box" [routerLink]="['/house/form']">
                        <p>maison</p>
                        <p>terrain</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-footer></app-footer>