<header>
    <div class="navbar">
        <div class="navTop">
            <ul class="links socials">
                <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                <li><a href="#"><i class='bx bxl-youtube' ></i></a></li>
            </ul>
            <div class="logo">
                <img [src]="logo" [routerLink]="['/home']">
            </div>
            <a [routerLink]="['/signup']" class="action_btn">Inscription</a>
            <div class="toggle_btn" (click)="toggleMenu()">
                <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
            </div>
        </div>
        <div class="navBottom">
            <ul class="links menuLinks">
                <li><a [routerLink]="['/home']">Accueil</a></li>
                <li><a [routerLink]="['/list']">Prestations</a></li>
                <li><a [routerLink]="['/parternship']">Partenaire</a></li>
                <li><a [routerLink]="['/about']">À Propos de Nous</a></li>
                <li><a [routerLink]="['/cart']">Panier</a></li>
            </ul>
        </div>
    </div>

    <div class="dropdown_menu" [class.open]="isMenuOpen">
        <li><a [routerLink]="['/home']">Accueil</a></li>
        <li><a [routerLink]="['/list']">Prestations</a></li>
        <li><a [routerLink]="['/parternship']">Partenaire</a></li>
        <li><a [routerLink]="['/about']">À Propos de Nous</a></li>
        <li><a [routerLink]="['/cart']">Panier ({{ itemCount() }})</a></li>
        <li><a [routerLink]="['/signup']" class="action_btn">Inscription</a></li>
    </div>
</header>