ul {
    list-style: none;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 10%;
    width: 100%;
    height: auto;
    background: linear-gradient(454deg, #404c80, #5874ff);
    color: #fff;
}
.details .text {
    max-width: 600px;
    width: 100%;
}
.details .text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.details .text h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.details .text p{
    margin-bottom: 20px;
}
.details ul{
    list-style: none;
}
.details .text ul li{
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
.details .text ul li span{
    font-size: 18px;
    font-weight: 500;
    color: #0404db;
}
.details .image {
    width: 500px;
}
.details .image img {
    width: 100%;
}

.plus-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10px 10%;
    color: #fff;
    background: linear-gradient(454deg, #9594ff, #ff5352);
}
.plus-info h1 {
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.plus-info ul {
    display: flex;
    justify-content: center;
}
.plus-info ul li {
    text-align: center;
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

.presentation{
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
.row .info{
    align-items: flex-start;
    background: #fff;
    padding: 10px;
    width: 500px;
}
.row .img-box img{
    width: 100%;
    max-width: 400px;
}
.info h2{
    font-size: 40px;
    font-weight: 600;
    color: #0404db;
    margin-bottom: 30px;
}
.info h2 span{
    color: #f5ad05;
}
.title{
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}
.title::after{
    content: '';
    width: 300px;
    height: 3px;
    position: absolute;
    background: #0404db;
    border-radius: 5px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media screen and (max-width: 900px) {
    .presentation {
        background: #f6f6f6;
    }
    .details .image,
    .row .img-box,
    .row .info {
        width: auto;
    }
    .row .info{
        padding: 5px;
        border-radius: 0 50% 50% 0;
    }
    .row .info p {
        font-size: 13px;
    }
    .info h2{
        font-size: 30px;
        font-weight: 600;
        color: #0404db;
        margin-bottom: 30px;
    }
    .details{
        border-radius: 30px 30px 0 0;
    }
    .plus-info ul {
        flex-direction: column;
    }
}