<app-header></app-header>
<div class="presentation" id="presentation">
    <div>
        <h1 class="title">À propos de Nous</h1>
        <div class="row">
            <div class="info">
                <h2>
                    Entreprise de <br><span>services </span>numériques
                </h2>
                <h3>Windows237</h3>
                <p>
                    Une plateforme de services numériques qui permet aux personnes morales
                    <br> et aux particuliers de l'interieur comme de l'exterieur du Cameroun, de commander
                    <br> en ligne, la réalisation de diverses courses, missions administratives, professionnelles et privées au Cameroun et à l'international.
                </p>
            </div>
            <div class="img-box">
                <img src="../../../assets/images/round.png">
            </div>
        </div>
    </div>
</div>
<div class="details" id="details">
    <div class="text">
        <h1>En Savoir Plus</h1>
        <h2></h2>
        <p>
            L'application numérique qui permet de commander en ligne vos courses, missions, formalités administratives, professionnelles et privées au Cameroun et à l'international.
            Plus besion de multiplier vos déplacements
        </p>

        <ul>
            <li>
                <span>Qui sommes nous ?</span>
                <br>- Une fenêtre pour les services au Cameroun.
                <br>- Une entreprise de services numériques.
                <br>- Une véritable plateforme virtuelle aux services multiples et innovants.
                <br>- Une équipe de collaborateurs et partenaires mulitdisciplinaires.
            </li>
            <li>
                <span>Qu'est ce que c'est ?</span>
                <br>- Une application qui vous permet de chercher, vous informer, effectuer, organiser et suivre toutes vos opérations professionnelles, commerciales et privées au Cameroun et à l'international en ligne.
                <br>- C'est votre assistant particulier numérique.
            </li>
            <li>
                <span>Contexte et motivation</span>
                <br>Dans un monde impacté par la pandémie du covid-19, les déplacements ont considérablement diminiués et la gestion des affaires de toute nature (professionnelle, privée, etc), s'est modifiée cependant, une gestion permanente et rigoureuse reste de rigueur.
                <br>Ainsi l'emploi du numérique dans tous les domaines connait une évolution importante.
                <br>D.D.A apporte une solution adaptée pour la gestion en ligne de plusieurs professionnels et privés au Cameroun et à l'international.
            </li>
            <li>
                <span>Nos Objectifs :</span>
                <br>- Rester présent, rigoureux et performant tout en diminuant vos déplacements dans vos diverses opérations au Cameroun comme à l'étranger.
                <br>- Maintenir une gestion rigoureuse et performante de vos activités au Cameroun et à l'international.
                <br>- Réduire les coûts opérationnels et augmenter la productivité.
            </li>
        </ul>
    </div>
    <div class="image">
        <img src="../../../assets/images/icon/bg1.png">
    </div>
</div>
<div class="plus-info">
    <h1 style="font-size: 50px; text-transform: capitalize;">Plus encore</h1>
    <div class="text-info">
        <ul>
            <li>
                Depuis l’arrivée de Digital Direct Assistance, des dizaines de chef d’entreprises et de particuliers
                <br>ont retrouvé plus de confort et de sérénité dans leur vie professionnelle et privée 
                <br>par un gain de temps, d’efficacité, de productivité.
            </li>
            <li>
                Désormais,  Avec ou sans un assistant collaborateur, il suffit de télécharger DDA
                <br>sur votre smartphone, votre assistant en ligne disponible qui effectue pour vous,
                <br>vos besoins en courses et missions professionnelles et privées.
            </li>
            <li>
                En plus une rubrique «investissements » est ajoutée pour toutes personnes physiques
                <br>ou morales intéressées par les investissements immobiliers au Cameroun.
            </li>
            <li>
                Bientôt  « D.D.A dans les pays africains et à l'étrangers » sera disponible pour vos missions et besoins
                <br>divers dans différents pays d’Afrique et du monde.
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>