<app-header></app-header>
<div class="small-container">
    <div class="service" *ngIf="administrative && administrative.length > 0">
        <div *ngFor="let admin of administrative">
            <div class="service_info">
                <h1 class="title">{{ admin.name }}</h1>
                <h3 class="sub-title">{{ admin.info }}</h3>
            </div>

            <div class="exclusive">
                <div class="card" *ngFor="let activity of admin.activity" [routerLink]="['/form2',admin.Id,activity.id]">
                    <div class="card-header">
                        <img [src]="activity.image" [alt]="activity.name">
                    </div>
                    <div class="card-body">
                        <h5>{{ activity.name }}</h5>
                        <div class="info">
                            <p>Auteur: windows237</p>
                            <p>À partir de: </p>
                            <span>{{ activity.price }} {{activity.price ? "FCFA" : "sur devis"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service" *ngIf="professional && professional.length > 0">
        <div *ngFor="let pro of professional">
            <div class="service_info">
                <h1 class="title">{{ pro.name }}</h1>
                <h2 class="sub-title">{{ pro.info }}</h2>
            </div>
            <div class="exclusive">
                <div class="card" *ngFor="let activity of pro.activity" [routerLink]="['/form2',pro.Id,activity.id]">
                    <div class="card-header">
                        <img [src]="activity.image" [alt]="activity.name">
                    </div>
                    <div class="card-body">
                        <h5>{{ activity.name }}</h5>
                        <div class="info">
                            <p>Auteur: windows237</p>
                            <p>À partir de:</p>
                            <span>{{ activity.price }} {{activity.price ? "FCFA" : "sur devis"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service" id="courses" *ngIf="courses && courses.length > 0">
        <div *ngFor="let course of courses">
            <div class="service_info">
                <h1 class="title">{{ course.name }}</h1>
                <h2 class="sub-title">{{ course.info }}</h2>
            </div>
            <div class="exclusive">
                <div class="card" *ngFor="let activity of course.activity" [routerLink]="['/form2',course.Id,activity.id]">
                    <div class="card-header">
                        <img [src]="activity.image" [alt]="activity.name">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>{{ activity.name }}</h5>
                        </div>
                        <div class="info">
                            <p>Auteur: windows237</p>
                            <p>À partir de:</p>
                            <span>{{ activity.price }} {{activity.price ? "FCFA" : "sur devis"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>