.small-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    text-align: center;
    font-size: 2vw;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sub-title{
    margin: 50px 70px 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.4vw;
    font-weight: bold;
    color: hwb(0 20% 80%);
}

.service {
    margin-top: 7%;
}
.service .service_info {
    text-align: center;
}
.service .service_info .service_logo {
    width: 80px;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 0 70px;
}
.exclusives .card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}
.exclusives .card h4{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.exclusives .card ul {
    list-style: none;
    margin-bottom: 20px;
}
.exclusives .card img{
    width: 100%;
    border-radius: 10px;
}
.exclusives .card-body .button {
    text-align: center;
    width: 100%;
}
.exclusives .card-body a {
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(135deg, #4799fd, #030388);
}




@media screen and (max-width: 930px){
    .title {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }
    .sub-title {
        font-size: 20px;
        text-align: center;
    }
    .cmr .card {
        border-radius: 0;
        box-shadow: none;
    }
}

@media screen and (max-width: 500px) {
    .service {
        margin-top: 18%;
    }
}