.small-container {
    margin-top: 10%;
    padding: 0 7%;
}
ul {
    list-style: none;
}
.title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #777;
}
.sub-title{
    font-size: 30px;
    margin-bottom: 30px;
    color: hwb(0 20% 80%);
}
.service {
    margin-bottom: 100px;
}

.service .exclusive {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.service .card {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
}
.service .card .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
.service .card .card-header img {
    width: 100%;
    border-radius: 10px;
}
.service .card .card-body .card-title h4 {
    font-size: 13px;
    color: #777;
    margin-bottom: 5px;
}
.service .card .card-body .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.service .card .card-body .info .col p {
    font-size: 15px;
    margin-bottom: 5px;
}
.service .card .card-body .info .col span {
    font-size: 13px;
    color: #777;
    margin-bottom: 5px;
}
.service .card .card-body .button button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 0;
    color: #fff;
    background: #4949ec;
    cursor: pointer;
}




@media screen and (max-width: 930px){
    .small-container {
        margin-top: 15%;
    }
    .title {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }
    .sub-title {
        font-size: 20px;
        text-align: center;
    }
    .service .exclusive {
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .small-container {
        margin-top: 22%;
    }
}