<div class="container">
    <div class="card">
        <div class="card-header">
            <span><i class='bx bxs-check-circle'></i></span>
        </div>
        <div class="card-body">
            <h4>Windows 237</h4>
            <h3>Votre offre a été posté avec succès</h3>
            <div class="button">
                <button class="post" [routerLink]="['/house/form']"><i class='bx bx-plus-circle'></i> <p>Nouveau post</p></button>
                <button class="list" [routerLink]="['/house']"><i class='bx bx-left-arrow-alt'></i> <p>liste des offres</p></button>
            </div>
        </div>
    </div>
</div>