<app-header></app-header>
<div class="row row-1" style="padding: 0 5%;">
    <div class="right-col">
        <img src="../../assets/images/presentation.jpg">
        <!--
        <h3 style="text-align: center;">Un produit de Digital Direct Assistance (D.D.A)</h3>
        <img src="../../assets/images/icon/bg1.png">
        -->
    </div>
    <div class="left-col">
        <!--
        <strong>Excellente application numerique à l'effet de reduire les déplacements pour:</strong>
        <ul>
            <li>Obtenir les informations professionnelles et privées</li>
            <li>Accomplir des formalités et effectuer des courses diverses</li>
            <li>Suivre les dossiers et opérations professionnels et privés au Cameroun</li>
        </ul>
        <p>Bientôt opérationnelles, dans plusieurs autres pays du monde</p>
        -->
        <div class="buttons">
            <a href="#online-course" class="btn1">Commander</a>
            <a href="#free-service" class="btn1">Services gratuits</a>
        </div>
    </div>
</div>
<div class="small-container">

    <div class="activities">
        <div class="Act-box">
            <h1>Nos Activités</h1>
        
            <div class="exclusives">
                <div *ngFor="let service of services">
                    <img [src]="service.image">
                    <span>
                        <h3>{{ service.name }}</h3>
                        <p>Start @ {{ service.price ? service.price : 'sur devis' }} €</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="online-course" id="online-course">
        <div class="price-col">
            <h1>Rubrique des Courses en lignes</h1>
            <ul>
                <li>Services auprès des administrations publiques / privées</li>
                <li>Services marchands</li>
                <li>Services messageries</li>
            </ul>
            <a class="button" [routerLink]="['/list']">Commander</a>
        </div>
    </div>

    <div class="online-course" id="free-service">
        <div class="price-col">
            <h1>Services gratuits et informations pratiques</h1>
            <h3>Cliquer sur le service solliciter</h3>
            <ul>
                <li>
                    <a [routerLink]="['/docs']">Téléchargement de formulaires administratifs usuels</a>
                </li>
                <li>
                    <a [routerLink]="['/links']">Liens utiles</a>
                </li>
                <li>
                    <a [routerLink]="['/info']">Procedures et Renseignements partiques</a>
                </li>
                <li>
                    <a [routerLink]="['/shop']">Boutiques, vente et achats en ligne</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<app-footer></app-footer>