.header-content {
    margin-top: 10%;
    padding: 0 7%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.header-content .text {
    width: 500px;
    padding: 25px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}
.header-content .text p {
    font-size: 2.2vw;
}
.header-content .text .btns .cta-btn{
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #5a1bb7;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
}
.header-content .text .btns .cta-btn:hover {
    background-color: #5a1bb7;
    color: #fff;
}
.btns .cta-btn i {
    margin-left: 20px;
}
.header-content .image {
    max-width: 600px;
}
.header-content .image img {
    width: 100%;
    flex-grow: 1;
}

/* ======================= Main content ===================== */
.content {
    width: 100%;
    margin-top: 70px;
}
section {
    margin: 20px 0;
}
section .section-header {
    margin-bottom: 30px;
    text-align: center;
}
section .section-header h3 {
    font-size: 15px;
    color: #7e7d7d;
}
section .section-header .title {
    font-size: 40px;
}
/* ========= SECTION-1 CSS ========= */
.section1 {
    padding: 75px 3%;
    background: #eceaea;
}
.section1 .section-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
/* .section1 .section-body .card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    max-width: 400px;
    aspect-ratio: 4/3;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
}
.section1 .section-body .card .card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section1 .section-body .card .card-header p {
    color: #fff;
}
.section1 .section-body .card .card-header a i{
    font-size: 25px;
    color: #eceaea;
}
.section1 .section-body .card .card-footer h4 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.section1 .section-body .card .card-footer ul {
    list-style: none;
    font-size: 12px;
    color: #fff;
}
.section1 .section-body .card-1 {
    background: linear-gradient(to bottom, #7e7d7d, transparent, #5a1bb7), url(../../assets/images/activity_images/administration.jpeg) center no-repeat;
    background-size: cover;
}
.section1 .section-body .card-2 {
    background: linear-gradient(to bottom, #7e7d7d, transparent, #5a1bb7), url(../../assets/images/activity_images/professionnel.jpeg) center no-repeat;
    background-size: cover;
}
.section1 .section-body .card-3 {
    background: linear-gradient(to bottom, #7e7d7d, transparent, #5a1bb7), url(../../assets/images/IMG_1.jpg) center no-repeat;
    background-size: cover;
}
.section1 .section-body .card-4 {
    background: linear-gradient(to bottom, #7e7d7d, transparent, #5a1bb7), url(../../assets/images/house_img/immobilier.jpeg) center no-repeat;
    background-size: cover;
} */

/* ========= SECTION-2 CSS ========= */
.section2 {
    margin: 75px;
    padding: 35px 3%;
    /* background: #eceaea; */
    border-radius: 10px;
}
.section2 .section-body .col {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.section2 .section-body .col .expectation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #eceaea;
    background: #fff;
    cursor: pointer;
    transition: all .3s ease;
}
.section2 .section-body .col .expectation:hover  {
    transform: scale(1.08);
    box-shadow: rgba(69, 117, 188, 0.2) 0px 1;
}
.section2 .section-body .col .expectation span i {
    font-size: 25px;
}
.section2 .section-body .col .expectation a {
    text-decoration: none;
    text-align: center;
    color: #1f283b;
}



/* ========== FEEDBACK SECTION CSS =========== */
.feedback {
    padding: 10px 5%;
}
.feedback .testimonials h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
}
.feedback .feedback-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.feedback .feedback-form .feedback-text h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
#feedback-form,
.feedback-text {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
#feedback-form fieldset {
    padding: 10px;
    border-radius: 5px;
    border-color: #ccc;
}
#feedback-form fieldset legend{
    font-size: 12px;
    color: #7e7d7d;
}
#feedback-form fieldset .input-field {
    margin-bottom: 10px;
    width: 100%;
}
#feedback-form fieldset .input-field input {
    height: 40px;
}
#feedback-form fieldset .input-field input,
#feedback-form fieldset .input-field textarea {
    width: 100%;
    outline: none;
    padding-left: 15px;
}
#feedback-form fieldset .submit-btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: #5a1bb7;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}



@media screen and (max-width: 900px) {
    .header-content {
        margin-top: 20%;
        align-items: center;
    }
    .header-content .text {
        align-items: center;
        justify-content: center;
        text-align: center;
        text-wrap: balance;
    }
    .header-content .text p {
        font-size: 20px;
    }
    .header-content .image img {
        width: 100%;
    }
    .section1,
    .section2 {
        margin: auto;
    }
}