<app-header></app-header>
<div class="header-content">
    <div class="image">
        <img src="../../assets/images/person.jpg" alt="person">
    </div>
    <div class="text">
        <p>
            Excellente application digtale pour faire effectuer <strong>sans se déplacer</strong>,
            formalités, courses, opérations, missions administratives, privées,
            familiale au Cameroun.
        </p>
        <div class="btns">
            <a href="#prestations" class="cta-btn">Commandez <i class='bx bxs-hand-down'></i></a>
        </div>
    </div>
    <!-- <div class="text">
        <h3>CAMEROUN DIRECT</h3>
        <h1 class="title">RÉDUISEZ VOS TEMPS ET FRAIS DE DÉPLACEMENTS.</h1>
        <p>
            Avec l'application digitale <span style="color: red;">windows237</span>
            Effectuez en ligne, vos courses, démarches et opérations
            professionnelles, administratives, fiscales et diverses au Cameroun et en France
        </p>
        <a href="#prestations" class="cta-btn">Voir Services</a>
    </div> -->
</div>

<div class="content">
    <section class="section1" id="prestations">
        <div class="section-header">
            <h3>Cameroun</h3>
            <h1 class="title">Rubrique de prestations payantes</h1>
        </div>
        <div class="section-body">
            <div class="card card-1">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [href]="adminLink"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Services administratifs publiques / privées</h4>
                    <ul>
                        <li>Légalisation - Authentification - duplicata de document</li>
                        <li>Recherche - Vérification - suivi d'information ou dossier administratif</li>
                        <li>Retrait - Dépôt de document auprès d'une administration</li>
                    </ul>
                </div>
            </div>
            <div class="card card-2">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [href]="professionalLink"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Services Professionnels</h4>
                    <ul>
                        <li>Représentation administrative ou professionnelle</li>
                        <li>Domiciliation commerciale et administrative</li>
                        <li>pour toutes vos demandes de RDV professionnels, médicales et autres</li>
                        <li>Achats produits locaux et autres M.P</li>
                    </ul>
                </div>
            </div>
            <div class="card card-3">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [href]="coursesLink"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Courses et missions diverses (personnelles & familiales)</h4>
                    <ul>
                        <li>Visites  et suivi des activités, projets, familles etc</li>
                        <li>Intermediations et négociations, achats et réceptions divers.</li>
                    </ul>
                </div>
            </div>
            <div class="card card-4">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [routerLink]="['/house']"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Services Immobiliers</h4>
                    <ul>
                        <li>Terrains à vendre, Maisons à vendre et Poster vos annonces</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="btn-space">
        <h3>Quelques éléments utiles</h3>
        <a href="#download">Téléchargement <i class='bx bxs-hand-down'></i></a>
    </div>

    <section class="section2" id="download">
        <div class="section-header">
            <h1 class="title">Rubriques de prestations gratuites</h1>
        </div>
        <div class="section-body">
            <div class="col-1">
                <h3>
                    Informations pratiques<br>et liens utiles
                </h3>
            </div>
            <div class="col-2">
                <div class="expectation">
                    <span><i class='bx bxs-cloud-download' ></i></span>
                    <a [routerLink]="['/docs']">Téléchargement de formulaires administratifs usuels</a>
                </div>
                <div class="expectation">
                    <span><i class='bx bx-link' ></i></span>
                    <a [routerLink]="['/links']">Liens utiles</a>
                </div>
                <div class="expectation">
                    <span><i class='bx bxs-user-circle' ></i></span>
                    <a [routerLink]="['/info']">Procedures et Renseignements partiques</a>
                </div>
                <div class="expectation">
                    <span><i class='bx bxs-store' ></i></span>
                    <a [routerLink]="['/shop']">Boutiques, vente et achats en ligne</a>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="testimonials">
            <h2>Retour de nos utilisateurs</h2>
            
        </div>
        <!-- <div class="feedback-form">
            <form id="feedback-form">
                <fieldset>
                    <legend>Vous avez des suggestions ou des remarques</legend>
                </fieldset>
            </form>
        </div> -->
    </section>
</div>

<app-footer></app-footer>