<app-header></app-header>
<div class="header-content">
    <div class="image">
        <img src="../../assets/images/person.jpg" alt="person">
    </div>
    <div class="text">
        <p>
            Excellente application digtale pour faire effectuer <strong>sans se déplacer</strong>,
            formalités, courses, opérations, missions administratives, privées,
            familiale au Cameroun.
        </p>
        <div class="btns">
            <a href="#prestations" class="cta-btn">Commandez <i class='bx bxs-hand-down'></i></a>
        </div>
    </div>
</div>

<div class="content">
    <section class="section1" id="prestations">
        <div class="section-header">
            <h1 class="title">Rubrique de prestations payantes</h1>
            <h3>Cameroun</h3>
        </div>
        <!-- <div class="section-body">
            <div class="card card-1">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [href]="adminLink"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Services administratifs publiques / privées</h4>
                    <ul>
                        <li>Légalisation - Authentification - duplicata de document</li>
                        <li>Recherche - Vérification - suivi d'information ou dossier administratif</li>
                        <li>Retrait - Dépôt de document auprès d'une administration</li>
                    </ul>
                </div>
            </div>
            <div class="card card-2">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [href]="professionalLink"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Services Professionnels</h4>
                    <ul>
                        <li>Représentation administrative ou professionnelle</li>
                        <li>Domiciliation commerciale et administrative</li>
                        <li>pour toutes vos demandes de RDV professionnels, médicales et autres</li>
                        <li>Achats produits locaux et autres M.P</li>
                    </ul>
                </div>
            </div>
            <div class="card card-3">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [href]="coursesLink"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Courses et missions diverses (personnelles & familiales)</h4>
                    <ul>
                        <li>Visites  et suivi des activités, projets, familles etc</li>
                        <li>Intermediations et négociations, achats et réceptions divers.</li>
                    </ul>
                </div>
            </div>
            <div class="card card-4">
                <div class="card-header">
                    <p>Commencer</p>
                    <a [routerLink]="['/house']"><i class='bx bxs-right-arrow-circle' ></i></a>
                </div>
                <div class="card-footer">
                    <h4>Services Immobiliers</h4>
                    <ul>
                        <li>Terrains à vendre, Maisons à vendre et Poster vos annonces</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <app-home-list [serviceList]="services"/>
    </section>

    <section class="section2" id="download">
        <div class="section-header">
            <h1 class="title">Rubriques de prestations gratuites</h1>
            <h3>Informations pratiques et liens utiles</h3>
        </div>
        <div class="section-body">
            <div class="col">
                <div class="expectation">
                    <span><i class='bx bxs-cloud-download' ></i></span>
                    <a [routerLink]="['/docs']">Téléchargement de formulaires administratifs usuels</a>
                </div>
                <div class="expectation">
                    <span><i class='bx bx-link' ></i></span>
                    <a [routerLink]="['/links']">Liens utiles</a>
                </div>
                <div class="expectation">
                    <span><i class='bx bxs-user-circle' ></i></span>
                    <a [routerLink]="['/info']">Procedures et Renseignements partiques</a>
                </div>
                <div class="expectation">
                    <span><i class='bx bxs-store' ></i></span>
                    <a [routerLink]="['/shop']">Boutiques, vente et achats en ligne</a>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="testimonials">
            <h2>Retour de nos utilisateurs</h2>
            <app-testimonial [feedbacks]="feedback"/>
        </div>
        <div class="feedback-form">
            <div class="feedback-text">
                <h4>Que pensez vous des services offerts par notre plateforme?</h4>
                <p>
                    Merci pour l'intérêt que vous portez à notre site,
                    aussi, nous vous prions de bien vouloir nous faire part de vos avis et suggestions afin de l'améliorer.
                </p>
            </div>
            <form id="feedback-form" #feedbackForm="ngForm" (ngSubmit)="onSubmit(feedbackForm.value)">
                <fieldset>
                    <legend>Vous avez des suggestions ou des remarques</legend>
                    <div class="input-field">
                        <input type="text" name="username" id="username" placeholder="nom complet" [required] ngModel>
                    </div>
                    <div class="input-field">
                        <textarea name="feedback" id="feedback" cols="30" rows="10" placeholder="votre avis" [required] ngModel></textarea>
                    </div>
                    <button type="submit" class="submit-btn">Soumettre <i class='bx bx-paper-plane'></i></button>
                </fieldset>
            </form>
        </div>
    </section>
</div>

<app-footer></app-footer>